@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

html {
    font-family: 'Nunito';
    background-color: #eddcb4;
    color: #1f1603;
}

h1 {
    font-size: 55pt;
    text-align: center;
}

h2 {
    text-align: center;
}

#quiz-container {
    position: relative;
    background-color: #dbc082;
    border-radius: 16px;
    width: 100vw;
    max-width: 650px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.quiz-button {
    padding: 16px;
    background-color: #b9994c;
    border-radius: 16px;
    margin: 16px;
    width: 50%;
}